.quiz-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.options-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.correct {
  border: 2px solid green;
}

.wrong {
  border: 2px solid red;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}
